language: node_js
node_js:
  - "0.10"
notifications:
  irc: 
    channels: 
      - "chat.freenode.net#montage"
    on_success: false
    template: 
      - "%{author} broke the %{repository} tests on %{branch}: %{build_url}"
